<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="wepoy-print"
    version="1.0.0">
    <name>Cordova Wepoy TR170 PRINTER</name>
    <description></description>
    <license>MIT</license>
    <keywords></keywords>
    <repo>https://github.com/josuegrullon/cordova-wepoytr170</repo>
    <issue>https://github.com/josuegrullon/cordova-wepoytr170/issues</issue>

    <!-- android -->
    <platform name="android">
      <js-module src="www/plugin.js" name="plugin">
        <runs/>

        <!-- This is the window variable name you want, like window.MyCordovaPlugin -->
        <clobbers target="WepoyPrint" />
      </js-module>
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="WepoyPrint">
          <param name="android-package" value="com.example.WepoyPrint" />
          <param name="onload" value="true" />
        </feature>
      </config-file>

      <source-file src="src/android/com/example/WepoyPrint.java" target-dir="src/com/example/" />
    </platform>
</plugin>
